    /* food menu */
    
    
    .background {
        background-image: url(../img/mybackground.webp);
    }
    
    .top_of_menu {
        color: black;
        font-size: 48px;
        font-family: var(--title-font);
        text-align: center;
        margin: 10px;
    }

    .food_names {
        display: flex;
        /* white-space: nowrap; */
        text-align: center;
        margin: 10px;
    }


    .swipes_of_food {
        color: black;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 200;
        text-align: justify;
        min-width: 320px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; 
    
    }

    .bottom_of_menu {
        color: black;
        font-family: var(--title-font);
        text-align: center;
        padding: 10px;
    }

    .smallerImage {
        width: 315px;     
        height: 250px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        /* min-width: 320px; */
    }

    .fullCard {
        min-width: 320px;
        width: 320px;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 5px;
        
    }
   
    .headers {
        font-weight: 600;
    }



   



    @media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}